<template>
	<div style="margin-bottom: 48px">

		<v-toolbar dense fixed>
			<v-tooltip bottom>
				<template #activator="data">
					<v-btn v-on="data.on"
						v-show="auth"
						flat
						@click.stop="show_left_navbar = !show_left_navbar"
					>
						<v-icon left>menu</v-icon>
						{{ formated_app_date }} {{ current_time }}
					</v-btn>
				</template>
				<span>дата приложения</span>
			</v-tooltip>
			<v-spacer></v-spacer>
			<v-toolbar-items class="hidden-sm-and-down">
					<v-btn v-if="auth" @click="logout" flat>Выход</v-btn>
					<v-btn v-else to="/login" flat>Вход</v-btn>
			</v-toolbar-items>
			<v-toolbar-items class="hidden-md-and-up">
				<v-btn v-if="auth" @click="logout" icon flat><v-icon>exit_to_app</v-icon></v-btn>
				<v-btn v-else to="/login" icon flat><v-icon>input</v-icon></v-btn>
			</v-toolbar-items>
		</v-toolbar>

		<v-navigation-drawer
		  temporary
		  absolute
		  v-model="show_left_navbar"
		>
		  <v-toolbar>
				<v-layout justify-space-between align-center>
					<v-flex md6 sm6 xs6>
						<v-btn to="/" flat>На главную</v-btn>
					</v-flex>
					<v-flex md2 sm2 xs3>
						<v-btn small fab flat
						  @click.stop="show_left_navbar = !show_left_navbar"
						>
							<v-icon>arrow_back</v-icon>
						</v-btn>
					</v-flex>
				</v-layout>
			</v-toolbar>
			<v-divider></v-divider>
			
			<v-date-picker
		    locale="ru"
			  first-day-of-week="1"
		    full-width
		    no-title
		    color="purple"
		    :value="app_date"
			  @input="changeDate"
			></v-date-picker>

		  <v-list>
				<v-list-tile 
			    v-for="item in navbar_items" 
					:key="item.name"
					:to="item.path"
			    :title="item.title"
				>
					<v-list-tile-action>
						<v-icon>{{ item.icon }}</v-icon>
					</v-list-tile-action>
					
					<v-list-tile-content>
						<v-list-tile-title><i>{{ item.name }}</i></v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>

	</div>
</template>

<script>
export default {
	data: function() {
		return {
			show_left_navbar: null,
			"auth": !!localStorage.getItem("lean_time_user"),
			current_time: null,

			navbar_items: [
				{
					name: "Мой lean time",
					title: "",
					path: "/lean-time",
					icon: "timer"
				},
			],
		}
	},
	mounted() {
		this.getCurrentTime()
	},
	computed: {
		app_date() {
			return this.$store.state.app_date
		},
		formated_app_date() {
			moment.locale("ru")
			return moment(this.$store.state.app_date).format("D MMMM YYYY (dd)")
		},
	},
	methods: {
		getCurrentTime() {
			var self = this
			setInterval(function() {
				self.current_time = moment().format("HH:mm:ss")
			}, 1000)
		},
		logout() {
			localStorage.clear();
			location.replace("/");
		},
		changeDate(date) {
			this.$store.commit("appDate", date)
		}
	}
}
</script>
