<template>
	<div id="seconds-chart"></div>
</template>

<script>
export default {
  data() {
		return {
			margin: {
				top: 10,
				right: 15,
				bottom: 10,
				left: 15
			},
			chart: {},
		}
	},
	computed: {
		seconds() {
			return this.$store.getters.seconds
		},
		chart_height() {
			return this.$parent.height
		},
		chart_width() {
			return parseInt(d3.select("#seconds-chart").style("width"))
		},
	},
	mounted() {
		this.initChart()
	},
	watch: {
		seconds(seconds) {
			var getDataset = function(seconds, timeperiod_type) {
				var arr = []
				Object.entries(seconds[timeperiod_type]).forEach(function(data) {
					var data_obj = {}
					data_obj.name = timeperiod_type
					data_obj.color = data[0]
					data_obj.value = data[1]
					arr.push(data_obj)
				})
				return arr
			}
			var plan_dataset = getDataset(seconds, "plan")
			var fact_dataset = getDataset(seconds, "fact")

			var dataset = plan_dataset.concat(fact_dataset)
			this.drawBars(dataset)
		},
	},
	methods: {
		initChart() {
			var self = this
			self.chart = d3.select("#seconds-chart").append("svg")
			  .attr("height", self.chart_height)
			  .attr("width", self.chart_width)

			self.chart.append("text")
			  .attr("x", self.getScaleX()(self.chart_width / 2))
			  .attr("y", 15)
			  .attr("text-anchor", "middle")
			  .text("График использованного времени")

			self.drawLegend()
		},
		getScaleY() {
			var self = this
			return d3.scaleLinear()
			  .domain([0, 86400])
			  .range([self.chart_height - 4 * self.margin.bottom, 5 * self.margin.top])
		},
		getScaleX() {
			var self = this
			return d3.scaleLinear()
			  .domain([0, self.chart_width])
			  .range([2 * self.margin.left, self.chart_width - 2 * self.margin.left])
		},
		drawBars(dataset) {
			var self = this
			var bars = self.chart.selectAll("rect.seconds").data(dataset);

			bars.join("rect")
				.attr("x", function(d, index) {
					if(d.name === "plan") {
						return self.getScaleX()(self.chart_width * 0.35 - index * (self.margin.left + 10))
					} else if(d.name === "fact") {
						return self.getScaleX()(self.chart_width * 0.5 + index * (self.margin.left + 10))
					}
				})
				.attr("y", function(d) {
					return self.getScaleY()(d.value)
				})
			  .attr("width", 15)
				.attr("height", function(d) {
					return self.chart_height - 4 * self.margin.bottom - self.getScaleY()(d.value)
				})
			  .attr("data-seconds", function(d) {
					return d.value
				})
			  .style("fill", function(d) {
					return d.color === "no_type" ? "white" : d.color
				})
				.style("stroke", "black")
			  .attr("class", function(d) {
					return "seconds " + (d.color === "no_type" ? "white" : d.color)
				})

			bars.exit().remove()
		},
		drawLegend() {
			var self = this
			
			var drawPeriodTypeTextUnderBars = function(period_type_name, width_ratio) {
				self.chart.append("text")
					.attr("x", self.getScaleX()(self.chart_width * width_ratio))
					.attr("y", self.chart_height - self.margin.bottom)
				  .attr("text-anchor", "middle")
					.text(period_type_name)
			}
			drawPeriodTypeTextUnderBars("План", 0.28)
			drawPeriodTypeTextUnderBars("Факт", 0.68)

			var drawInfoLegend = function(x, y, color, text) {
				self.chart.append("rect")
					.attr("x", self.getScaleX()(self.chart_width - (30 + self.chart_width * x)))
					.attr("y", y)
					.attr("text-anchor", "middle")
					.attr("height", 10)
					.attr("width", 20)
					.style("fill", color)
				  .style("stroke", "black")
				  .attr("class", "legend " + color)
				  .on("mouseenter", function() {
						var color = d3.select(this).attr("class").replace("legend", "").trim(),
							rects_with_seconds = self.chart.selectAll("."+color).nodes()
						
						rects_with_seconds.shift() // убираем из выборки элемент легенды
						rects_with_seconds.forEach(function(rect) {
							rect = d3.select(rect)
							var seconds = rect.attr("data-seconds"),
								type_seconds = seconds,
							  hours = parseInt(seconds / 3600); //вычисляем кол-во целых часов

							seconds -= hours * 3600
							var minutes = parseInt(seconds / 60) //вычисляем кол-во целых минут
							seconds -= minutes * 60

							var fullTimeDigits = function(time) {
								return time.toString().length === 1 ? "0"+time : time
							}

							self.chart.append("text")
								.attr("x", rect.attr("x"))
							  .attr("y", +rect.attr("y") + +rect.attr("height") + 15)
								.text(`${fullTimeDigits(hours)}:${fullTimeDigits(minutes)}:${fullTimeDigits(seconds)} (${type_seconds})`)
							  .classed("seconds-text", true)
						})

						self.chart.selectAll("." + color)
						  .style("stroke-width", 3)
					})
					.on("mouseleave", function() {
						self.chart.selectAll("." + color)
						  .style("stroke-width", 1)

						self.chart.selectAll(".seconds-text").remove()
					})

				if(self.chart_width > 400) {
					self.chart.append("text")
						.attr("x", self.getScaleX()(self.chart_width - self.chart_width * x))
						.attr("y", y + 10)
						.text(text)
				}
			}

			drawInfoLegend(0.65, 25, "green", "Полезное")
			drawInfoLegend(0.45, 25, "yellow", "Неизбежное")
			drawInfoLegend(0.65, 40, "red", "Бесполезное")
			drawInfoLegend(0.45, 40, "white", "Неиспользованное")
		},
	}
}
</script>
