<template>
	<div>
		<v-card-title class="cyan lighten-5"><h2>Инфо</h2></v-card-title>
		<v-divider></v-divider>
		<v-list>
			<v-list-tile>
				<v-layout row align-center>
					<v-flex md3 sm3 xs3 >Now: </v-flex>
					<v-flex class="text-xs-right">{{ now_timeperiod }}</v-flex>
				</v-layout>
			</v-list-tile>
			<v-divider></v-divider>
			<v-list-tile>
				<v-layout row align-center>
					<v-flex md3 sm3 xs3 >Next: </v-flex>
					<v-flex class="text-xs-right">{{ next_timeperiod }}</v-flex>
				</v-layout>
			</v-list-tile>
			<v-divider></v-divider>
			<v-list-tile>
				<v-layout row align-center>
					<v-flex md8 sm8 xs8 >До конца дня: </v-flex>
					<v-flex md4 sm4 xs4 class="text-xs-right">{{ percent_to_end_of_day }}%</v-flex>
				</v-layout>
			</v-list-tile>
			<v-divider></v-divider>
		</v-list>
	</div>
</template>

<script>
export default {
	computed: {
		now_timeperiod() {
			var current_timeperiod = this.getCurrentPlanTimeperiod();
			return _.isNil(current_timeperiod) ? "" : current_timeperiod.InfoStr("HH:mm")
		},
		next_timeperiod() {
			var current_timeperiod = this.getCurrentPlanTimeperiod(),
				plan_timeperiods = this.getPlanTimeperiods(),
				current_timeperiod_index = -1
			if(!_.isNil(current_timeperiod)) {
				current_timeperiod_index = _.findIndex(plan_timeperiods, current_timeperiod)
			}
			var next_timeperiod = plan_timeperiods[++current_timeperiod_index]
			return _.isNil(next_timeperiod) ? "" : next_timeperiod.InfoStr("HH:mm")
		},
		percent_to_end_of_day() {
			var time_to_end_of_day = moment().endOf("day"),
				current_time = moment(),
				time_diff = time_to_end_of_day.diff(current_time, "second"),
				seconds_in_day = 86400,
				hundred_percent = 100;
			return _.round(time_diff / seconds_in_day * hundred_percent, 1);
		},
	},
	methods: {
		getCurrentPlanTimeperiod() {
			var plan_timeperiods = this.getPlanTimeperiods()
			return _.find(plan_timeperiods, function(timeperiod) {
				return timeperiod.IsCurrent()
			})
		},
		getPlanTimeperiods() {
			return _.filter(this.$store.state.timeperiods, function(timeperiod) {
				return timeperiod.IsPlan()
			})
		},
	}
}
</script>
