<template>
	<v-layout row justify-center>
		<v-dialog v-model="dialog" persistent max-width="500px">
			<v-card>
				<v-card-title>
					<span class="headline">Добавление периода</span>
				</v-card-title>
				<v-card-text>
					<v-layout wrap>
						<v-flex md6 sm6 xs12 pa-2>
							<v-menu
				 ref="menu2"
		 :close-on-content-click="false"
		 v-model="day_start_menu"
	 :nudge-right="40"
	 :return-value.sync="timeperiod.start_date"
	 lazy
	 transition="scale-transition"
	offset-y
	full-width
	min-width="290px"
 >
 <v-text-field
	 slot="activator"
	v-model="timeperiod.start_date"
 label="Дата начала"
 prepend-icon="event"
 readonly
 ></v-text-field>
	 <v-date-picker 
		first-day-of-week="1"
	locale="ru"
 v-model="timeperiod.start_date" 
 @input="$refs.menu2.save(timeperiod.start_date)"
 :allowed-dates="allowedDates"
 ></v-date-picker>
							</v-menu>
						</v-flex>
						<v-flex md6 sm6 xs12 pa-2>
							<v-menu
				 ref="menu3"
		 :close-on-content-click="false"
		 v-model="day_end_menu"
	 :nudge-right="40"
	 :return-value.sync="timeperiod.end_date"
	 lazy
	 transition="scale-transition"
	offset-y
	full-width
	min-width="290px"
 >
 <v-text-field
	 slot="activator"
	v-model="timeperiod.end_date"
 label="Дата окончания"
 prepend-icon="event"
 readonly
 ></v-text-field>
	 <v-date-picker 
		first-day-of-week="1"
	locale="ru"
 v-model="timeperiod.end_date" 
 @input="$refs.menu3.save(timeperiod.end_date)"
 :allowed-dates="allowedDates"
 ></v-date-picker>
							</v-menu>
						</v-flex>
					</v-layout>
					<v-layout wrap>
						<v-flex md6 sm6 xs12 pa-2>
							<v-menu
				 ref="menu"
		 :close-on-content-click="false"
		 v-model="time_start_menu"
	 :nudge-right="40"
	 :return-value.sync="timeperiod.start_time"
	 lazy
	 transition="scale-transition"
	offset-y
	full-width
	max-width="290px"
 min-width="290px"
 >
 <v-text-field
	 slot="activator"
	v-model="timeperiod.start_time"
 label="Время начала"
 prepend-icon="access_time"
 readonly
 ></v-text-field>
	 <v-time-picker 
		v-model="timeperiod.start_time" 
	format="24hr"
 >
   <v-layout justify-space-between>
   	<v-flex class="text-xs-center">
			<v-btn small outline @click="time_start_menu = false">Отмена</v-btn>
		</v-flex>
   	<v-flex class="text-xs-center">
			<v-btn small outline @click="$refs.menu.save(timeperiod.start_time)">Ok</v-btn>
		</v-flex>
   </v-layout>
	</v-time-picker>
							</v-menu>
						</v-flex>
						<v-flex md6 sm6 xs12 pa-2>
							<v-menu
				 ref="menu4"
		 :close-on-content-click="false"
		 v-model="time_end_menu"
	 :nudge-right="40"
	 :return-value.sync="timeperiod.end_time"
	 lazy
	 transition="scale-transition"
	offset-y
	full-width
	max-width="290px"
 min-width="290px"
 >
 <v-text-field
	 slot="activator"
	v-model="timeperiod.end_time"
 label="Время окончания"
 prepend-icon="access_time"
 readonly
 ></v-text-field>
	 <v-time-picker 
		v-model="timeperiod.end_time" 
	format="24hr"
 >
   <v-layout justify-space-between>
   	<v-flex class="text-xs-center">
			<v-btn small outline @click="time_end_menu = false">Отмена</v-btn>
		</v-flex>
   	<v-flex class="text-xs-center">
			<v-btn small outline @click="$refs.menu4.save(timeperiod.end_time)">Ok</v-btn>
		</v-flex>
   </v-layout>
 </v-time-picker>
							</v-menu>
						</v-flex>
					</v-layout>

					<v-layout>
						<v-combobox
				      label="Название периода"
					    v-model="timeperiod.name"
				      :items="timeperiod_names"
							:search-input.sync="timeperiod_search"
							:loading="loading"
				      required
						></v-combobox>
					</v-layout>

					<v-layout>
						<v-textarea label="Описание" v-model="timeperiod.description"></v-textarea>
					</v-layout>

					<v-layout wrap>
						<v-flex md8 sm6 xs12 pa-2>
							<v-select 
				 label="Тип процесса" 
		 v-model="timeperiod.process_type_id" 
	 dense 
	 :items="process_types"
	 item-text="Name"
	item-value="ID"
 ></v-select>
						</v-flex>

					</v-layout>

				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="green darken-3" flat @click.native="undoCreateTimeperiod">Отмена</v-btn>
					<v-btn color="green darken-3" flat @click.native="saveTimeperiod">Сохранить</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-layout>
</template>

<script>
export default {
	data() {
		return {
			timeperiod: {},
			time_start_menu: false,
			day_start_menu: false,
			time_end_menu: false,
			day_end_menu: false,

			loading: false,
			timeperiod_search: null,
			timeperiod_names: [],
		}
	},
	computed: {
		period_types() {
			return this.$store.state.period_types
		},
		process_types() {
			return this.$store.state.process_types
		},
		dialog() {
			return this.$store.state.timeperiod_dialog;
		},
		timeperiod_type_id() {
			return this.$store.state.dialog_timeperiod_type === "plan" ? 1 : 2
		},
	},
	mounted() {
		this.timeperiod = this.defaultValueForTimeperiod();
	},
	watch: {
		"timeperiod.start_date": function(date) {
			var start_date = date + " " + this.timeperiod.start_time,
				end_date = this.timeperiod.end_date + " " + this.timeperiod.end_time
			if(moment(start_date).isAfter(end_date, "minute")) {
				this.timeperiod.end_time = moment(this.timeperiod.start_time, "HH:mm").subtract(1, "hour").format("HH:mm")
				this.timeperiod.end_date = date
			}
		},
		"timeperiod.start_time": function(time) {
			var start_date = this.timeperiod.start_date + " " + time,
				end_date = this.timeperiod.end_date + " " + this.timeperiod.end_time
			if(moment(start_date).isAfter(end_date, "minute")) {
				var new_end_date = moment(start_date).add(1, "hour")
				this.timeperiod.end_date = new_end_date.format("YYYY-MM-DD")
				this.timeperiod.end_time = new_end_date.format("HH:mm")
			}
		},
		"timeperiod.end_date": function(date) {
			var start_date = this.timeperiod.start_date + " " + this.timeperiod.start_time,
				end_date = date + " " + this.timeperiod.end_time
			if(moment(end_date).isBefore(start_date, "minute")) {
				this.timeperiod.start_date = date
				this.timeperiod.start_time = this.timeperiod.end_time
			}
		},
		"timeperiod.end_time": function(time) {
			var start_date = this.timeperiod.start_date + " " + this.timeperiod.start_time,
				end_date = this.timeperiod.end_date + " " + time
			if(moment(end_date).isBefore(start_date, "minute")) {
				this.timeperiod.start_time = moment(time, "HH:mm").subtract(60, "minute").format("HH:mm") 
			}
		},
		timeperiod_search(name) {
			if(!_.isNil(name) && name.length >= 2) {
				name && this.getTimeperiodNamesFromDB(name)
			}
		}
	},
	methods: {
		allowedDates(date) {
			var date_format = "YYYY-MM-DD"
			if(this.timeperiod_type_id == 1) { // Планируемый
				var current_time = moment().format("HH:mm")
				return moment(date + " 08:00").isAfter(moment(), "hour")
			} else {
				return moment(date, date_format).isSameOrAfter(moment(), "day")
			}
		},
		getTimeperiodNamesFromDB(timeperiod_name) {
			let self = this;
			self.loading = true
			$.ajax({
				method: "post",
				url: "/api/timeperiods/find-name",
				data: { name: timeperiod_name, user_id: localStorage.lean_time_user },
				success: function(names) {
					if(!_.isNil(names)) {
						self.timeperiod_names = names
					}
					self.loading = false
				}
			})
		},
		saveTimeperiod() {
			let self = this
			self.timeperiod.type_id = self.timeperiod_type_id
			self.timeperiod.user_id = localStorage.lean_time_user
			$.ajax({
				method: "post",
				url: "/api/timeperiods/create",
				data: self.timeperiod,
				success: function(saved_timeperiod) {
					self.$store.commit("pushTimeperiod", saved_timeperiod)
					self.$store.commit("timeperiodDialog", {show: false});
					self.timeperiod = self.defaultValueForTimeperiod();
				}
			})
		},
		undoCreateTimeperiod() {
			this.$store.commit("timeperiodDialog", {show: false});
			this.timeperiod = this.defaultValueForTimeperiod();
		},
		defaultValueForTimeperiod() {
			var timeperiods = this.$store.state.timeperiods;

			var date = moment().format("YYYY-MM-DD")
			if(this.$router.currentRoute.name === "planing") {
				date = moment().add(1, "day").format("YYYY-MM-DD")
			}

			var start_time = _.isEmpty(timeperiods) ? moment().format("HH:mm") : 
				moment(_.last(timeperiods).DateEnd).utcOffset(_.last(timeperiods).DateEnd).format("HH:mm");
			var end_time = moment(start_time, "HH:mm").add(1, "h").format("HH:mm");
			return {
				"start_date": date,
				"start_time": start_time,
				"end_date": date,
				"end_time": end_time,
				"name": "",
				"description": "",
				"process_type_id": 1, // по умолчанию - Полезный
				"type_id": 1, // по умолчанию тип - Планируемый
			}
		},
	}
}
</script>
