<template>
	<div>
		<div id="timeline-chart"></div>
		<timeperiod-dialog></timeperiod-dialog>
	</div>
</template>

<script>
import TimeperiodDialog from "./TimeperiodDialog.vue"
export default {
	components: {
		"timeperiod-dialog": TimeperiodDialog,
	},
	props: {
		selectedDay: {
			type: String,
			default: null
		},
		timeperiods: {
			type: Array,
			default: function() { return [] }
		},
	},
	data: function() {
		return {
			chart: null,
			chart_size: {
				width: 700,
				height: 200,
				padding: 20,
			},
			date_format: "YYYY-MM-DD",
		}
	},
	mounted() {
		this.initChart();
	},
	watch: {
		selectedDay(day) {
			var create_btn = $(".create-timeperiod-btn")
			var show_create_btn = moment(day, this.date_format).isSameOrAfter(moment(), 'day')
			// если выбранный день раньше текущего не рисовать кнопку создания
			show_create_btn ? create_btn.show() : create_btn.hide();
		},
		timeperiods() {
			this.drawTimeperiods();
		}
	},
	methods: {
		drawTimeperiods() {
			let self = this,
				  timeperiods = self.chart.selectAll("rect").data(self.timeperiods);

			timeperiods.enter().append("rect")
				.attr("x", function(d) {
					var x = self.getScaleX()
					return x(moment(d.FormatedDate("Start")))
				})
				.attr("y", function(d) {
					var y = self.getScaleY();
					return y(d.TimeperiodTypeID);
				})
				.attr("width", function(d) {
					var x = self.getScaleX();
					return Math.abs(x(moment(d.DateEnd)) - x(moment(d.DateStart)));
				})
				.attr("height", 10)
			  .style("fill", function(d) {
					return d.Color()
				})
				.style("stroke", "white")
				.on("mouseenter", function(timeperiod) {
					d3.select(this).style("stroke", "rgb(146, 31, 146)").style("stroke-width", 3);
          printTimeperiodInfo(timeperiod.InfoStr("HH:mm") + " (" + timeperiod.Duration("minute") + " min)", 15)
					
					function printTimeperiodInfo(text, y) {
						self.chart.append("text")
							.attr("x", self.chart_size.width / 2)
							.attr("y", y)
						  .attr("text-anchor", "middle")
							.text(text)
							.classed("tooltip", true)
					}
					
				})
				.on("mouseleave", function(timeperiod) {
					d3.select(this).style("stroke", "white").style("stroke-width", 1)
	        d3.selectAll(".tooltip").remove()
				})
			  .on("dblclick", function(timeperiod) {
					var can_delete_by_date = _.isNil(self.selectedDay) || moment().isSame(self.selectedDay, "day")
					if(can_delete_by_date && timeperiod.IsFact()) {
						if(confirm(`Удалить период "${timeperiod.Name}"?`)) {
							$.ajax({
								method: "post",
								url: "/api/timeperiods/delete",
								data: timeperiod,
								success: function() {
									self.$store.commit("getTimeperiodsByDay", self.selectedDay)
								}
							})
						}
					}
				})

			timeperiods.exit().remove();
		},
		initChart() {
			let self = this;
			self.chart_size.width = $("#timeline-chart-card").width();
			self.chart = d3.select("#timeline-chart")
				.append("svg")
				.attr("width", self.chart_size.width)
				.attr("height", self.chart_size.height)
			this.drawCreateBtn();
			this.drawAxisX();
			this.drawAxisY();
			if(!_.isEmpty(this.timeperiods)) {
				this.drawTimeperiods();
			}
		},
		drawCreateBtn() {
			let self = this;

			var btn = d3.path()
			btn.rect(25, 10, 50, 20)
			self.chart
				.append("path")
				.attr("d", btn.toString())
				.style("stroke", "black")
				.style("fill", "rgb(25, 187, 25)")
				.style("cursor", "pointer")
				.classed("create-timeperiod-btn", true)
				.on("click", create)

			self.chart
				.append("text")
				.text("+")
				.attr("x", 43)
				.attr("y", 28)
				.style("font-size", 25)
				.style("cursor", "pointer")
				.classed("create-timeperiod-btn", true)
				.on("click", create)

			function create() {
				self.$store.commit("timeperiodDialog", {show: true, timeperiod_type: "fact"})
			}
		},
		getScaleX() {
			let self = this;
			
			var date= "2000-01-01"
			if(!_.isEmpty(self.timeperiods)) {
				var timeperiods = self.timeperiods
				date =	_.find(timeperiods, function(timeperiod) {
						return moment(timeperiod.DateStart).isSame(timeperiod.DateEnd, "day")
					}).DateStart
			}
			return d3.scaleTime()
				.domain([moment(date).startOf("day"), moment(date).endOf("day")])
				.range([3 * self.chart_size.padding, self.chart_size.width - 2 * self.chart_size.padding]);
		},
		drawAxisX() {
			let self = this;
			var xAxis = d3.axisBottom(self.getScaleX())
				.ticks(d3.timeMinute.every(60))
				.tickSize(-self.chart_size.height + self.chart_size.padding * 3)
				.tickFormat(d3.timeFormat("%H:%M"));
			self.chart.append("g")
				.call(xAxis)
				.attr("transform", "translate(0, " + (self.chart_size.height - self.chart_size.padding) + ")")
				.classed("grid", true)
		},
		getScaleY() {
			let self = this;
			return d3.scaleLinear()
				.domain([0, 2])
				.range([self.chart_size.height - self.chart_size.padding, self.chart_size.padding * 3]);
		},
		drawAxisY() {
			let self = this;
			var yScale = self.getScaleY();
			var yAxis = d3.axisLeft(yScale)
				.ticks(2)
				.tickFormat(function(d) {
					if(d == 1) {
						return "План";
					} else if(d == 2) {
						return "Факт";
					}
				})

			self.chart.append("g")
				.call(yAxis)
				.attr("transform", "translate(" + (3 * self.chart_size.padding) + ", 0)")
		}
	}
}
</script>

<style>
.grid line {
	stroke: lightgrey;
	stroke-dasharray: 2,2;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}
</style>
