<template>
	<v-container>
		<v-layout justify-center align-center column fill-height row>
			<v-flex md4 sm4 xs12 class="text-xs-center">
				<v-tooltip top>
					<template #activator="data">
						<span v-on="data.on" style="cursor: pointer"
							class="display-1"
						>Скоро время назад пойдет...</span>
					</template>
					<span>{{ time }}</span>
				</v-tooltip>
			</v-flex>
			<v-footer>
				Page not found <v-icon large>sentiment_very_dissatisfied</v-icon>
			</v-footer>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	data() {
		return {
			time: null,
		}
	},
	mounted() {
		var self = this,
			end_of_day = moment().endOf("day")
		setInterval(function() {
			self.time = moment().diff(end_of_day, "s")
		}, 1000)
	},
}
</script>
