<template>
	<div>
		<v-layout class="text-xs-center" my-4>
			<v-flex>Выберите период и дни, в которые он будет повторяться</v-flex>
		</v-layout>
		<v-layout wrap>

			<v-flex md5 sm5 xs12 mx-2>
				<v-flex md12 sm12 xs12 px-2>
					<v-autocomplete
				   @click.prepend="getTimeperiods()"
					 label="Период"
					 v-model="selected_timeperiod"
					 :items="timeperiods"
					 item-text="Name"
					 return-object
					></v-autocomplete>
				</v-flex>

				<v-flex md12 sm12 xs12 px-2 v-if="selected_timeperiod">
					<v-text-field
					 label="Время начала"
					 v-model="selected_timeperiod.TimeStart"
					 mask="##:##"
			     return-masked-value
					></v-text-field>
				</v-flex>
				<v-flex md12 sm12 xs12 px-2 v-if="selected_timeperiod">
					<v-text-field
					 label="Время окончания"
					 v-model="selected_timeperiod.TimeEnd"
					 mask="##:##"
			     return-masked-value
					></v-text-field>
				</v-flex>
			</v-flex>

			<v-flex md5 sm5 xs12 mx-2 v-if="selected_timeperiod">
				<v-date-picker
			    v-model="days_to_copy"
			    multiple
			    event-color="green"
			    :events="days_with_timeperiod"
			    first-day-of-week="1"
			    locale="ru"
			    no-title
			    full-width
				></v-date-picker>

				<v-layout justify-space-around>
					<v-flex md2 sm2 xs5>
						<v-btn 
							:disabled="days_to_copy.length == 0"
							@click.native="days_to_copy = []"
				      title="Очистить календарь"
						>clear</v-btn>
					</v-flex>
					<v-flex md2 sm2 xs5>
						<v-btn 
							:disabled="days_to_copy.length == 0"
							@click="copyTimeperiods"
							title="Скопировать период на выбранные даты"
						>copy</v-btn>
					</v-flex>
				</v-layout>
				
			</v-flex>

		</v-layout>

		<v-snackbar top v-model="show_snackbar">Скопировано</v-snackbar>
	</div>
</template>

<script>
export default {
	data() {
		return {
			timeperiods: [],
			selected_timeperiod: null,
			days_to_copy: [],
			days_with_timeperiod: [],
			show_snackbar: false,
		}
	},
	watch: {
		selected_timeperiod(timeperiod) {
			this.getDaysWithTimeperiod(timeperiod)
		}
	},
	methods: {
		getDaysWithTimeperiod(timeperiod) {
			var self = this
			$.ajax({
				method: "post",
				url: "/api/timeperiods/days-with-timeperiod",
				data: {
					name: timeperiod.Name,
					user_id: localStorage.lean_time_user,
				},
				success: function(response) {
					self.days_with_timeperiod = response
				}
			})
		},
		copyTimeperiods() {
			var self = this
			self.show_snackbar = true
			$.ajax({
				method: "post",
				url: "/api/timeperiods/copy",
				data: {
					days_to_copy: self.days_to_copy.join(),
					timeperiod: JSON.stringify(self.selected_timeperiod),
				},
				success: function(response) {
					self.getDaysWithTimeperiod(self.selected_timeperiod)
					self.days_to_copy = []
				}
			})
		},
		getTimeperiods() {
			var self = this
			$.ajax({
				method: "post",
				url: "/api/timeperiods",
				data: {
					timeperiod_type: "plan",
					user_id: localStorage.lean_time_user
				},
				success: function(response) {
					var timeperiods = []
					response.map(function(timeperiod) {
						timeperiod = new Timeperiod(timeperiod)
						timeperiod.TimeStart = timeperiod.FormatedDate("Start", "HH:mm")
						timeperiod.TimeEnd = timeperiod.FormatedDate("End", "HH:mm")

						timeperiods.push(timeperiod)
					})
					self.timeperiods = timeperiods
				}
			})
		}
	}
}
</script>
