<template>
	<div>
		<v-tabs 
	    centered 
	    active-class="light-green lighten-3"
		>

			<v-tab>Мой lean time</v-tab>
			<v-tab-item>
				<my-leantime></my-leantime>
			</v-tab-item>
			
			<v-tab>Планирование</v-tab>
			<v-tab-item>
				<planing></planing>
			</v-tab-item>

			<v-tab>Управление периодами</v-tab>
			<v-tab-item>
				<copy-timeperiods></copy-timeperiods>
			</v-tab-item>
			
		</v-tabs>
	</div>
</template>

<script>
import MyLeantime from "./MyLeantime.vue"
import Planing from "./Planing.vue"
import CopyTimeperiods from "./CopyTimeperiods.vue"
export default {
	components: {
		"my-leantime": MyLeantime,
		"planing": Planing,
		"copy-timeperiods": CopyTimeperiods,
	},
	beforeCreate() {
		this.$store.commit("getTimeperiodsByDay", this.$store.state.app_date)
	}
}
</script>
