<template>
	<div>
		<v-container fluid>
			<!-- график временнЫх периодов -->
				<v-layout my-3>
					<v-flex>
						<v-card id="timeline-chart-card">
							<timeline-chart
				        :timeperiods="timeperiods" 
								:selected-day="selected_date"
							></timeline-chart>
						</v-card>
					</v-flex>
				</v-layout>
			<!-- end график временнЫх периодов -->

			<v-layout wrap justify-space-between>

				<!-- график секунд по типам периодов -->
				<v-flex md7 sm7 xs12>
					<v-card :height="mylean_calendar_height">
						<seconds-chart></seconds-chart>
					</v-card>
				</v-flex>
				<!-- end график секунд по типам периодов -->

				<!-- блок информации -->
				<v-flex md4 sm4 xs12>
					<v-card :height="mylean_calendar_height">
						<statistic-block></statistic-block>
					</v-card>
				</v-flex>
				<!-- end блок информации -->

			</v-layout>

		</v-container>
	</div>
</template>

<script>
import TimelineChart from "../../components/TimelineChart.vue"
import StatisticBlock from "../../components/StatisticBlock.vue"
import SecondsChart from "../../components/SecondsChart.vue"

export default {
	components: {
		"timeline-chart": TimelineChart,
		"statistic-block": StatisticBlock,
		"seconds-chart": SecondsChart,
	},
  data: function() {
	  return {
			"mylean_calendar_height": 300,
		}
	},
	watch: {
		selected_date(day) {
			this.$store.commit("getTimeperiodsByDay", day)
		}
	},
	computed: {
		selected_date() {
			return this.$store.state.app_date
		},
		timeperiods() {
			return this.$store.state.timeperiods;
		},
	},
}
</script>
