<template>
	<v-container fluid>
			<v-card>
				<v-card-title>

					<v-layout wrap align-center>
						<v-flex md2 sm3 xs4>
							<v-btn @click="create" fab dark color="success" small>
								<v-icon dark>add</v-icon>
							</v-btn>
						</v-flex>

						<v-flex md3 sm5 xs8>
							<span class="title">
								Процессы
							</span>
						</v-flex>

						<v-flex md2 sm2 xs8>
							<v-checkbox
				 label="Скрывать прошедшие"
		 v-model="hide_past_timeperiods"
	 ></v-checkbox>
						</v-flex>

						<v-spacer></v-spacer>

						<v-flex md4 sm5 xs12>
							<v-text-field
				 v-model="search"
		 append-icon="search"
	 label="Поиск"
	single-line
	hide-details
	></v-text-field>
						</v-flex>

					</v-layout>

				</v-card-title>

				<v-data-table
			:headers="table_headers"
			:items="planing_timeperiods"
			:search="search"
			hide-actions
			no-data-text="Ничего не запланировано"
	 >
	 <template slot="items" slot-scope="props">
		 <td class="text-xs-center">{{ props.item.FormatedDate("Start", "YYYY-MM-DD HH:mm") }}</td>
		 <td class="text-xs-center">{{ props.item.FormatedDate("End", "YYYY-MM-DD HH:mm") }}</td>
		 <td class="text-xs-center">{{ props.item.Name }}</td>
		 <td :class="setProcessTypeNameClass(props.item.ProcessTypeID)">{{ getProcessNameByID(props.item.ProcessTypeID) }}</td>
		 <td class="text-xs-center">
			 <v-icon v-if="can_delete_timeperiod" small color="red darken-3" @click="deleteTimeperiod(props.item)">delete</v-icon>
		 </td>
	 </template>
	 <v-alert slot="no-results" :value="true" color="error" icon="warning">
		 По запросу "{{ search }}" ничего не найдено
	 </v-alert>
				</v-data-table>

			</v-card>

		<timeperiod-dialog></timeperiod-dialog>

	</v-container>
</template>

<script>
import TimeperiodDialog from "../../components/TimeperiodDialog.vue"
export default {
	components: {
		"timeperiod-dialog": TimeperiodDialog,
	},
	data() {
		return {
			table_headers: [
				{ text: "Время начала", value: "DateStart", sortable: false, align: "center" },
				{ text: "Время окончания", value: "DateEnd", sortable: false, align: "center" },
				{ text: "Название", value: "Name", sortable: false, align: "center" },
				{ text: "Тип процесса", value: "ProcessTypeID", sortable: false, align: "center" },
				{ text: "", sortable: false }
			],
			search: "",

			hide_past_timeperiods: true,
		}
	},
	computed: {
		selected_date() {
			return this.$store.state.app_date
		},
		can_delete_timeperiod() {
			return !moment(this.selected_date, "YYYY-MM-DD").isSame(moment(), "day")
		},
		planing_timeperiods() {
			var self = this
			var planing_periods = _.filter(self.$store.state.timeperiods, function(period) {
				return period.IsPlan()
			})

			if(this.hide_past_timeperiods) {
				planing_periods = _.filter(planing_periods, function(period) {
					var date_format = "YYYY-MM-DD HH:mm",
						now = moment().format(date_format),
						date_end = moment.utc(period.DateEnd).format(date_format)

					return moment(now).isBefore(date_end)
				})
			}

			return _.sortBy(planing_periods, function(period) {
				return period.DateStart
			})
		},
		process_types() {
			return this.$store.state.process_types
		},
	},
	watch: {
		selected_date(date) {
			this.$store.commit("getTimeperiodsByDay", date)
		},
		hide_past_timeperiods(is_hide) {
			this.hide_past_timeperiods = is_hide
		},
	},
	methods: {
		setProcessTypeNameClass(process_type_id) {
			var td_class = "text-xs-center "
			if(process_type_id === 1) {
				td_class += "green--text"
			} else if(process_type_id === 2) {
				td_class += "orange--text"
			} else {
				td_class += "red--text"
			}
			return td_class
		},
		getProcessNameByID(id) {
			var process_type = _.find(this.process_types, {ID: id})
			return _.isNil(process_type) ? "" : process_type.Name
		},
		create() {
			this.$store.commit("timeperiodDialog", {show: true, timeperiod_type: "plan"})
		},
		deleteTimeperiod(timeperiod) {
			if(confirm("Удалить период?")) {
				let self = this;
				$.ajax({
					method: "post",
					url: "/api/timeperiods/delete",
					data: timeperiod,
					success: function() {
						self.$store.commit("getTimeperiodsByDay", self.selected_date)
					}
				})
			}	
		},
		allowedDates(day) {
			return moment(day).isSameOrAfter(moment(), "day")
		},
	}
}
</script>
