<template>
	<div>
		<v-container fluid>
			<v-alert :type="alert_type" dismissible v-model="login_alert" class="text-xs-center" style="color: black">
				{{ alert_message }}
			</v-alert>
			<v-layout row justify-center>
				<v-flex md4 sm8 xs12> 
					<v-card> 
						<v-card-title class="cyan lighten-3"><h2><i>Вход</i></h2></v-card-title>
						<v-flex ma-3>
							<v-form v-model="valid" ref="form">
								<v-text-field
					label="E-mail"
		 v-model="email"
	 :rules="email_rules"
	 required
	 ></v-text-field>
									<v-text-field
					 label="Пароль"
			type="password"
	 v-model="password"
	:rules="password_rules"
	required
	@keyup.13="login"
	></v-text-field>
										
								<v-layout text-xs-center wrap>
									<v-flex md12 sm12 xs12>
										<v-btn
											@click="login"
											:disabled="!valid"
											>
											Войти
										</v-btn>
									</v-flex>
									<v-flex>
										<v-btn to="/registration" flat>Регистрация</v-btn>
									</v-flex>
								</v-layout>
							</v-form>
						</v-flex>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
export default({
	data: function() {
		return {
			valid: false,
			email: "",
			email_rules: [
				v => !!v || "Обязательное поле",
				v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || "Неверный формат Email"
			],
			password: "",
			password_rules: [
				v => !!v || "Обязательное поле",
				v => v.length > 5 || "Пароль должен содержать более 5 символов",
			],
			login_alert: false,
			alert_type: "warning",
			alert_message: ""
		}
	},
	methods: {
		login() {
			if (this.$refs.form.validate()) {
				self = this;
				$.ajax({
					url: "/api/user/login",
					method: "post",
					data: {
						login: this.email,
						password: this.password
					},
					success: function(data) {
						if (data.enter) {
							localStorage.setItem("lean_time_user", data.user_id);
							location.replace("/lean-time");
						}
						self.login_alert = !data.enter
						self.alert_type = data.alert_type
						self.alert_message = data.alert_message
					}
				})
			}
		}
	}
})
</script>


