<template>
	<div>
		<v-container fluid>
			<v-alert type="warning" dismissible v-model="registration_alert" class="text-xs-center" style="color: black">
				Пользователь с email: <u>{{ email }}</u> уже зарегистрирован
			</v-alert>
			<v-layout justify-center>
				<v-flex md4 sm7 xs12>
					<v-card> 
						<v-card-title class="cyan lighten-3"><h2><i>Регистрация</i></h2></v-card-title>
						<v-flex text-xs-center ma-3>
							<v-form v-model="valid" ref="form">
								<v-text-field
					label="E-mail"
		 v-model="email"
	 :rules="email_rules"
	 required
	 ></v-text-field>
									<v-text-field
					 label="Пароль"
			type="password"
	 v-model="password"
	:rules="password_rules"
	required
	></v-text-field>
										<v-text-field
						label="Введите пароль ещё раз"
			type="password"
	 v-model="confirm_password"
	:rules="confirm_password_rules"
	:error-messages="confirm_password_error"
	required
	></v-text-field>
											<v-btn
						 @click="registration"
						 :disabled="!valid"
						 >Зарегистрироваться</v-btn>
							</v-form>
						</v-flex>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
export default({
	data: function() {
		return {
			valid: false,
			user_name: "",
			user_name_rules: [
				v => !!v || "Обязательное поле",
			],
			email: "",
			email_rules: [
				v => !!v || "Обязательное поле",
				v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || "Неверный формат Email"
			],
			password: "",
			password_rules: [
				v => !!v || "Обязательное поле",
				v => v.length > 5 || "Пароль должен содержать более 5 символов",
			],
			confirm_password: "",
			registration_alert: false,
		}
	},
	computed: {
		confirm_password_rules: function() {
			return [
				!!this.confirm_password || "Обязательное поле",
				this.isPasswordEquals()
			];
		},
		confirm_password_error: function() {
			return this.isPasswordEquals() ? [] : ["Пароли не совпадают"];
		}
	},
	methods: {
		registration() {
			if (this.$refs.form.validate()) {
				self = this;
				$.ajax({
					url: "/api/user/registration",
					method: "post",
					data: {
						"login": this.email,
						"password": this.password,
						"password_confirmation": this.confirm_password,
					},
					success: function(data) {
						if(!data.is_user_in_DB) {
							localStorage.setItem("lean_time_user", data.user_id);
							location.replace("/lean-time");
						}
						self.registration_alert = data.is_user_in_DB;
					}
				})
			}
		},
		isPasswordEquals() {
			return this.password === this.confirm_password;
		}
	}
})
</script>


